#projectCard {
    width: 48%;
    /* height: 770px; */
    /* height: 100%; */
    padding: 30px;
    margin: 15px;
    float:left;
    background-color: #262626;
    box-shadow: 2px 2px 5px #000000;
}

.font{
    font-family: 'Roboto', sans-serif;
}

#projectCard:hover{ 
    box-shadow: 2px 2px 5px #ffffff; 
}

.projectTitle {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.websiteImage {
    width: 100%;
    height: 425px;
    margin: 0 0 15px 0;
    box-shadow: 1px 2px 2px #000000;
}

.projectText {
    font-size: 25px;
    color: #ffffff;
}

.projectBtnDiv {
    width: 100%;
    text-align: left;
}

form{
    width: 130px;
    float:left;
}

.projectBtn {
    display:inline-block;
    width: 110px;
    font-size: 20px;
    background-color: #5a5959;
    border-color: transparent;
    margin: 7.5px;
    border-radius: 5px;
    height: 2.5em;
    color: #ffffff;
}

.projectBtn:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

.projectBtn:active{
    background-color: #ffffff;
    border-color: #ffffff;
}

@media screen and (max-width: 480px) {
    #projectCard {
        width: 90%;
        /* height: 850px; */
    }

    .websiteImage {
        height: 200px;
    }
}

