.name{
    text-align: center;
    font-size: 100px;
}

.whatIDo{
    text-align: center;
    font-size: 50px;
}

.proPic{
    width: 10rem;
    height: 10rem;
    transform: rotate(-90deg);
    
}

.navLinks{
    position: fixed;
    top: 0px;
    right: 2%;
    float: right;
    text-align: right;
    
}

.portfolioCard{
    margin: 10px, 10px, 10px, 10px;
}

.bio{
    text-align: center;
}