/* Main Body */
body{
    background-image: url("../images/DSC_1050.jpg");
}
/** Main Container **/
.container{
    background-color: #ffffff;
}

.name{
    text-align: center;
    font-size: 100px;
}

.bio{
    text-align: center;
}

.whatIDo{
    text-align: center;
    font-size: 50px;
}

.proPic{
    /*Looks like Shit */
    width: 10rem;
    height: 10rem;
    transform: rotate(-90deg);
    border-radius: 5px;
    
}

/*** Nav Links ***/
.navLinks{
    position: fixed;
    top: 0px;
    right: 2%;
    float: right;
    text-align: right;
}

.github{
    float:left;
}

/*** PORTFOLIO ***/
.portfolio{
    left: 10%;
}

.portTitle{
    text-align: center;
}

.portfolioCard{
    width: 50rem;
    height: 40rem;
    margin-bottom: 2rem;
    left: 15%;
}

/**** Contact ****/
.contactTitle{
    text-align: center;
}
