.projects{
    /* background-color: #262626; */
    background-color: #ffffff;
    background-size: 100%;
}

.projectsCol{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.testing{
    width: 50%;
    background-color: #262626;
}