/*Removing the White bar off the right side of the page */
.row{
    margin: 0;
}

.aboutMe{
    /* background-color: #454746; */
    background-color: #ffffff;
    background-size: 100%;
    box-shadow: inset 5px 0 10px #000000;
    padding: 0 0 15px 0;
}

.aboutMeText{
    color: #ffffff;
    font-size: 1.75em;
    text-shadow: 4px 3px 5px black;
    margin: 5px;
    /* font-family: 'Domine', serif; */
    font-family: 'Roboto', sans-serif;

}

.aboutMeDiv{
    border-radius: 5px;
    background-color: #262626;
    width: 80%;
    margin: 15px auto 15px auto;
    float: left;
}

.profilePicture{
    width: 20%;
    height: 100%;
    float: left;
    margin: 15px;
    border-radius: 5px;
}

/**
*   Skills Section
*/
.skillsTitle{
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin: 15px 15px 15px 7.5px;
    font-size: 3rem;
    text-shadow: 4px 3px 5px black;
}

.skillsDiv{
    width: 100%; 
}

.skillsSubTitle {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-position: under;
}

.languagesList, .databasesList, .toolsList {
    color: #ffffff;
    font-size: 1rem;
    cursor: default;
    list-style-type: none;
}

.skillsRow {
    background-color: #262626;
    margin: 0 15px 0 15px;
    border-radius: 5px;
}

.skillsCol {
    text-align: center;
    padding: 0;
    margin: 0 15px 0 15px;
}

.skillListItem {
    font-size: 17px;
}

.socials{
    color: #ffffff;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;

}

.socialsCol{
    text-align: center;
}

@media screen and (max-width: 480px){
    .aboutMeDiv {
        height: 100%;
    }
    .aboutMeSection{
        width: 320px;
        margin: 10px 0 0 15px;
    }

    .aboutMeText {
        font-size: 1.5em;
    }

    .skillsCol {
        padding: 0;
        margin: 25px;
    }

    .skillsSubTitle {
        text-align: center;
    }

    .languagesList, .databasesList, .toolsList {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }

    .skillsDiv {
        width: 320px;
        margin: 0 15px 15px 15px;
    }
}