/*Removing the White bar off the right side of the page */
.row{
    margin: 0;
}

.aboutMe{
    background-image: url("https://i.imgur.com/xsIqnig.jpg");
    background-size: 100%;
    box-shadow: inset 5px 0 10px #000000;
}
.aboutMeCol{
    padding: 0;
}

.aboutMeTitle{
    text-align: center;
    /* background-color: #ffffff; */
    background-color: #262626;
    color: #ffffff;
    height: 8rem;
    box-shadow: 5px 2.5px 10px #000000;
    padding-top: 1.5rem;  
    width: 100%;
    font-size: 4rem;
    text-shadow: 4px 3px 5px black;

}

.aboutMeText{
    text-align: center;
    /* background-color: #ffffff; */
    /* background-color: #262626; */
    color: #ffffff;
    /* width: 100%; */
    /* margin: 15px 7.5px 15px 15px; */
    float:left;
    font-size: 2rem;
    text-shadow: 4px 3px 5px black;
}

.aboutMeSection{
    background-color: #262626;
    width: 100%;
    margin: 15px 7.5px 15px 15px;
    float: left;
}

.profilePicture{
    width: 26%;
    height: 100%;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.skillsTitle{
    text-align: center;
    background-color: #262626;
    color: #ffffff;
    width: 100%;
    margin: 15px 15px 15px 7.5px;
    font-size: 3rem;
    text-shadow: 4px 3px 5px black;
}

